<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>822031697007-qmsstlmrb4fqlt0bk705n8cfsqr38ou5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822031697007-qmsstlmrb4fqlt0bk705n8cfsqr38ou5</string>
	<key>API_KEY</key>
	<string>AIzaSyDVJ4GE8dLc7VpP7JAMSF8q-RiNTkHv92U</string>
	<key>GCM_SENDER_ID</key>
	<string>822031697007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sptorres.Rev-FBC</string>
	<key>PROJECT_ID</key>
	<string>rev-fbc-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>rev-fbc-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:822031697007:ios:5093d9c0334324b8</string>
	<key>DATABASE_URL</key>
	<string>https://rev-fbc-ios.firebaseio.com</string>
</dict>
</plist>